@model ProyectoPograAvanzada.Models.Producto

@{
    ViewBag.Title = "Detalles del Producto";
}

<style>
    .custom-celeste {
        background-color: #87CEEB !important; /* Color celeste */
        border-color: #5DADE2 !important;
    }

    .text-celeste {
        color: #5DADE2 !important;
    }

    .btn-celeste {
        background-color: #5DADE2 !important;
        border-color: #3498DB !important;
        color: white !important;
    }

        .btn-celeste:hover {
            background-color: #3498DB !important;
            border-color: #2E86C1 !important;
        }
</style>

<h2 class="text-center text-celeste fw-bold">Detalles del Producto</h2>

<div class="container p-4 shadow-lg bg-light rounded">
    <h4 class="text-celeste">Información del Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4 fw-bold text-celeste">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt class="col-sm-4 fw-bold text-celeste">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt class="col-sm-4 fw-bold text-celeste">
            @Html.DisplayNameFor(model => model.CantidadaDisponible)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CantidadaDisponible)
        </dd>
    </dl>
</div>

<div class="text-center mt-3">
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdProducto }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-outline-celeste btn-celeste" })
</div>
