@model ProyectoPograAvanzada.Models.Producto

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center text-success">Detalles del Producto</h2>

<div class="container p-4" style="background-color: #f5f5dc; border-radius: 10px;">
    <h4 class="text-success">Información del Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4 fw-bold text-success">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt class="col-sm-4 fw-bold text-success">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt class="col-sm-4 fw-bold text-success">
            @Html.DisplayNameFor(model => model.CantidadaDisponible)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CantidadaDisponible)
        </dd>
    </dl>
</div>

<div class="text-center mt-3">
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdProducto }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-outline-success" })
</div>