@model ProyectoPograAvanzada.Models.ApplicationUser

@{
    ViewBag.Title = "Eliminar Usuario";
}

<h2>Eliminar Usuario</h2>

<div>
    <h4>¿Estás seguro de eliminar a @Model.NombreCompleto?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Correo:</dt>
        <dd>@Model.Email</dd>

        <dt>Teléfono:</dt>
        <dd>@Model.PhoneNumber</dd>

        <dt>Carrera:</dt>
        <dd>@Model.Carrera</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
    }
</div>
