@model ProyectoPograAvanzada.Models.Reseñas

@{
    ViewBag.Title = "Eliminar Reseña";
}

<h2 class="text-center text-danger">Eliminar Reseña</h2>

<div class="container p-4" style="background-color: #f0f8ff; border-radius: 10px;">
    <h4 class="text-danger">¿Estás seguro de que deseas eliminar esta reseña?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4 fw-bold text-danger">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt class="col-sm-4 fw-bold text-danger">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt class="col-sm-4 fw-bold text-danger">
            @Html.DisplayNameFor(model => model.Calificacion)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Calificacion)
        </dd>
    </dl>

    <div class="text-center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        }

        @Html.ActionLink("Cancelar", "Details", "Productoes", new { id = Model.IdProducto }, new { @class = "btn btn-outline-secondary" })
    </div>
</div>
